<html>
<head>
<meta charset = "utf-8">
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
<div id="main2">
<h2 align = "center">Đặt vé trực tuyến</h2>
<hr>
<form name="login">
<p>Nơi khởi hành: <input type="text" name="noidi"/></p>
<p>Nơi đến: <input type="text" name="noiden"/></p>
<p>Ngày khởi hành: <input type="text" name="ngaydi"/></p>
<p>Số lượng vé: <input type="text" name="soluongve"/></p>
<p> <input type="button" name="muave" value="Mua vé"></a></p>
</form>
</div>
</body>
</html>