<html>
<head>
<meta charset="utf-8">
</head>
<body>
<h2>Thêm nhân viên</h2>
<hr>
<form>
<p>Họ và tên:<input type="text" name="hoten"/></p>
<p>Mã nhân viên:<input type="text" name="manv"/></p>
<p>Chức vụ:<input type="text" name="chucvu"/></p>
<p>Ngày sinh:<input type="datetime" name="ngaysinh"/></p>
<p>Giới tính:
	<input type="radio" name="gioitinh" value="Nam"/>Nam
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="radio" name="gioitinh" value="Nu"/>Nữ
</p>
<p>Địa chỉ:<input type="text" name="diachi"/></p>
<p>Số điện thoại:<input type="text" name="sdt"/></p>
<p>Mail:<input type="text" name="mail"/></p>
<p><input type="button" name="them" value="Thêm"/></p>
<p><input type="button" name="huy" value="Hủy"/></p>
</form>
</body>
</html>